@import url('https://fonts.googleapis.com/css?family=Courgette|Droid+Sans');

body{
  font-family: 'Droid Sans', sans-serif;
}

#aForm {
  width: 10em;
  margin: auto;
  padding-right: 18em;
}


button{
  margin:  0em 7em 1em 7em ;

}
#forgotPass {
    margin:  0em 7em 1em 4em ;
}

input{
  margin:.5em;
  border-radius: 0;
	border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}
input[type=file]{
  border-color: #ccc;
  border-radius: 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  box-shadow: none;
  background-color: white;
}
input[type=submit]{
  border-color: #ccc;
  border-radius: 0;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  box-shadow: none;
  background-color: white;
}

.centerInput{

  text-align: center;
  left: auto;
  right: auto;
}


header, footer {
    padding: 1em;
    color: grey;
    text-align: center;
    left: auto;
    right: auto;

}
article {
    margin-left: 170px;
    border-left: 1px solid #dedede;
    padding: 1em;
    overflow: auto;
}
nav {
    float: left;
    max-width: 160px;
    padding: 1em;
    height: 100%;
}

header h1{
  font-family: 'Courgette', cursive;
  color:#5e9bfc;
}

a{
  color:#5e9bfc;
  text-decoration: none;
}
a:hover{
    color:#416cb0;
}

tbody{

}
td{
  padding: 2em;
}

.tbody tr:nth-child(even) td:sorting{
  background: #dedede;
}
.even{
    background-color: #f8f8f8;
}
ul{
  color:#416cb0;
}
ul li{
  margin:.25em;
}

button{
  background: 0 0 #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-size: 16px;
  line-height: inherit;
  margin: 15px 0;
  padding: 10px 50px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}
table{
  width:100%
}
textarea{
  width:100%;
}

button:hover,button:active, button:focus {
	border-color: #222;
	color: #000;
}

p{
  width: 50em;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.topcorner{
  position:absolute;
  top:4em;
  right:4em;
 }

#myTable_filter{float: right;}
