

#aForm {
  width: 10em;
  margin: auto;
  padding-right: 18em;
}


button{
  margin:  0em 7em 1em 7em ;

}
#forgotPass {
    margin:  0em 7em 1em 4em ;
}

.centerInput{

  text-align: center;
  left: auto;
  right: auto;
}


header, footer {
    padding: 1em;
    color: grey;
    text-align: center;
    left: auto;
    right: auto;

}
article {
    margin-left: 170px;
    border-left: 1px solid black;
    padding: 1em;
    overflow: auto;
}
nav {
    float: left;
    max-width: 160px;
    padding: 1em;
    margin-bottom:  100%;
    

}

tbody{

}
td{
  border-bottom:  1px solid red;
  padding: 2em;
  background-color: white;
}
p{
  width: 50em;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

#myTable_filter{float: right;}
